<div class="top-introduction">
  <%= image_tag "activitymore-61C3F2CE-D4B1-4DCD-B681-D41DD55BF0A4.png" ,class:"sized" %>
</div>

<section id="whats-aroma_app">
  <h1>WHAT'S  AROMA APP</h1>
    <h2>暮らしの中にアロマの癒しを</h2>
    <p>アロマは心と体を癒すと共に私たちの生活を豊かにしてくれます!使い方、心の状態によって適した香りを楽しんでください</p>
</section>