<%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="mt-5 col-sm-10 col-md-8 col-lg-6  mx-auto">
<h1 class="title">新規投稿</h1>

<%= render "form", button_value: "投稿" %>