/* 全体 */ 

.base-container {
  margin-bottom: 56px;
  padding-bottom: 20px;
  background-color: #FFFAF0;
}

.card {
  text-decoration: none;
  }

.navbar-brand {
  color: black;
}

.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}

body {
  text-align: center;
  font-family: 'Kosugi Maru', sans-serif;
  line-height: 1.7;
  background-color: #FFFAF0;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  }

#wrapper .title {
  font-weight: bold;
}

#wrapper .questions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); 
    background: rgba(255,255,255,0.5);
    width: 50%;
    font-size: 20px;
    color: #2f4f4f;/*文字色*/
    line-height: 2rem;
    border-radius: 50px;
}

img.sized { 
  width: 100%; 
  height: 600px;
  text-align:center;  
}

.field {
  margin-bottom: 1rem;
}

#carouselExampleIndicators {
  margin-top: 56px;
  padding-top: 20px;
  background-color: #FFFAF0;
}

@import "bootstrap/scss/bootstrap";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');